	#review_main_image {
		width: 100%;
		height: 550px;

		text-align: center;
		color: #FFFFFF;

		background-image: url("/assets/img/slide/kookmin_2480_550.jpg");
	    background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
	    -moz-background-size: 100% 100%;
	    -o-background-size: 100% 100%;
	}

	@media (max-width: 2500px) {
	
		#review_main_image {
			background-image: url("/assets/img/slide/kookmin_2480_550.jpg");	
		}

	}

	@media (max-width: 2000px) {
	
		#review_main_image {
			background-image: url("/assets/img/slide/kookmin_1960_550.jpg");	
		}

	}

	@media (max-width: 1700px) {
	
		#review_main_image {
			background-image: url("/assets/img/slide/kookmin_1680_550.jpg");	
		}

	}

	@media (max-width: 1500px) {
	
		#review_main_image {
			background-image: url("/assets/img/slide/kookmin_1440_550.jpg");	
		}

	}

	.head_title {
		font-size: 3.4rem;
		font-family: 'NanumMyeongjo';
		font-weight: normal;
		vertical-align: middle;

		margin: 0px;
		padding: 0px;

		padding-top: 74px;
	}

	.head_title span {
		font-size: 6rem;
		font-family: 'NanumPen';
		font-weight: normal;
		vertical-align: middle;
		color: #FFD432;
	}

	.head_subtitle {
		font-size: 1.64rem;
		font-weight: normal;
		margin-top: 8px;
		padding-top: 0px;
	}

	.search_box { 
		width: 572px;
		border-radius: 17px;
		background: #FFFFFF;
		margin: 0px auto;
		vertical-align: middle;
		padding-left: 25px;
		height: 49px;
	}

	.search_box input[type=text] {
		display: inline-block;
		font-size: 1.2rem;
		width: 87%;
		height: 100%;
		background: transparent;
		border: none;
		outline: none;
		float: left;
	}

	.search_box img {
		display: inline-block;
		position: relative;
		right: -1%;
		width: 65px;
	}

	#review_banner {
		width: 100%;
		height: 160px;
		text-align: left;
		margin: 0px auto;
		border-bottom: 3px solid #D1D3D4;
	}

	.find_campus {
		width: 1000px;
		margin: 0px auto;
		height: 100%;
		padding-left: 18px;
	}

	.find_campus .title {
		color: #58595B;
		font-size: 1.5rem;
	    margin: 0px auto;
	    padding-top: 40px;
	}

	#review_content {
		width: 100%;
		text-align: center;
		padding: 30px 0px;
	}

	#review_content .title {
		font-size: 2.5rem;
		margin: 0px;
	}

	#review_content .subtitle {
		font-size: 1.22rem;
		margin: 0px;
	}

	.banner_box { 
		width: 287px;
		height: 167px;
		margin: 0px;
		padding: 0px;
		list-style: none;
		border: 1px solid #CCCCCC;
		display: inline-block;
		margin-top: 20px;
	}

	.banner_box p { 
		width: 20%;
		background: #FFD432;
		color: #000000;
		font-size: 0.65rem;
		padding: 5px;
		position: relative;
		right: 0%;
	}

	.banner_box h3 { 
		width: 90%;
		margin: 0px auto;
		text-align: left;
		font-size: 1.18rem;
		margin-top: 23%;
	}

	.banner_box h5 { 
		width: 90%;
		margin: 0px auto;
		text-align: left;
		font-size: 0.85rem;
		margin-top: 2%;
	}

	.review_more_left {
		vertical-align: top;
		margin: 40px 10px 10px 0px;
		padding: 0px;
		font-size: 1.05rem;
		position: relative;
		right: 0%;
		text-align: right;
		color: #808083;
	}

	.review_more_left img {
		vertical-align: top;
		margin-top: 0.5px;
	}

	.review { 
		margin: 0px auto;
		display: inline-block;
		width: 100%;
		padding: 15px 0px 0px 0px;
		border: 1px solid #BCBEC0;
		margin-bottom: 10px;
	}

	.about_img { 
		width: 96px;
		height: 96px;
		vertical-align: top;
		display: inline-block;
	}

	.review_about_ { 
		display: inline-block;
		width: 80%;
		text-align: left;
		padding: 8px 0px 0px 18px;
	}

	.review_about_ h3 { 
		font-size: 1.5rem;
		margin: 0px;
		margin-bottom: 5px;
		color: #58595B
	}

	.review_about_ p { 
		margin: 0px;
		font-size: 1.05rem;
		color: #808083;
	}

	.review_evaluation { 
		background: rgba(255, 211, 66, 0.3);
		text-align: left;
		color: #3366CC;
		padding: 5px 0px 5px 15px;
		margin: 15px 0px 30px 0px;
		vertical-align: middle;
	}

	.review_evaluation .h6_title {
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		font-size: 0.9rem;
		margin-left: 8px;
		vertical-align: middle;
		color: #808083;
	}

	.review_evaluation .h6_content { 
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		color: #3366CC;
		font-size: 1.3rem;
		vertical-align: middle;
	}

	.pros {
		width: 85%;
		margin: 0px auto;
	}

	.pros h3 {
		display: inline-block;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		margin-right: 28px;
		padding: 0px;
		font-size: 1rem;
		color: #00B74A;
		font-weight: bold;
	}

	.pros h4 { 
		display: inline-block;
		width: 84%;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		padding: 0px;
		font-size: 0.9rem;
		color: #58595B;
		line-height: 1.2rem;
	}

	.cons { 
		width: 85%; 
		margin: 0px auto;
		margin-top: 20px;
	}

	.cons h3 { 
		display: inline-block;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		margin-right: 28px;
		padding: 0px;
		font-size: 1rem;
		color: #FF6666;
		font-weight: bold;

	}

	.cons h4 { 
		display: inline-block;
		width: 84%;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		padding: 0px;
		font-size: 0.9rem;
		color: #58595B;
		line-height: 1.2rem;
	}

	.review_more {
		width: 80%;
		height: 50px;
		background: #CCCCCC;
		border: 1px solid #3366CC;
		color: #3366CC;
		margin: 0px auto;
		line-height: 50px;
	}

	.campus_category {
		width: 100%;
		border-collapse: collapse;
		margin: 0px;
		padding: 0px;
		margin-bottom: 10px;
		border: 1px solid #BCBEC0;
		text-align: left;
	}
	
	.campus_category td {
		margin: 0px;
		padding: 0px;
		vertical-align: middle;
		padding: 18px 0px 0px 18px;
		border-right: 1px solid #BCBEC0;
		color: #808083;
		font-size:1.125rem;
	}

	.review_list {
		width: 100%;
		border-collapse: collapse;
		margin: 0px;
		padding: 0px;
		margin-bottom: 10px;
		border: 1px solid #BCBEC0;
	}

	.review_list * {
		vertical-align: middle;
	}

	.review_list td {
		margin: 0px;
		padding: 0px;
		vertical-align: middle;
	}

	.review_list p {
		margin: 0px;
		padding: 0px;
		vertical-align: middle;
		display: inline-block;
		font-size: 1.1rem;
	}
	
	.review_list .review_list_title {
		font-size: 1.375rem;
		font-weight: normal;
		text-align: left;
		padding: 15px 0px 14px 15px;
		color: #58595B;
	}

	.review_list .review_more_b {
		font-size: 0.8rem;
		text-align: right;
		padding: 18px 5px 14px 0px;
		color: #1C75BA;
	}

	.review_list .of_rank {
		width: 10%;
		padding: 0px 10px;
		color: #58595B;
	}
	
	.review_list .of_college {
		width: 75%;
		padding: 6px 0px 6px 0px;
		text-align: left;
	}
	
	.review_list .of_college p {
		color: #58595B;
	}
	
	.review_list .of_college span {
		font-size: 0.9rem;
		color: #808083;
	}

	.review_list .of_college img {
		display:  inline-block;
		margin:  0px 5px 0px 0px;
	}
	
	.review_list .of_diff {
		width: 15%;
		padding: 0px;
		font-size: 1rem;
		color: #58595B;
	}

	.review_list .of_diff img {
		vertical-align: middle;
	}
