
	/**********************************************
	* 웹 기본 세팅
	**********************************************/
	@font-face {
		font-family: 'NanumBarunGothic';
		font-style: normal;
		src: url('/assets/fonts/NanumBarunGothicLight.eot');
		src: url('/assets/fonts/NanumBarunGothicLight.eot') format('embedded-opentype'),
		url('/assets/fonts/NanumBarunGothicLight.woff') format('woff'),
		url('/assets/fonts/NanumBarunGothicLight.ttf') format('truetype');
		font-weight: 600;
	}

	@font-face {
		font-family: 'NanumMyeongjo';
		font-style: normal;
		src: url('/assets/fonts/NanumMyeongjo.eot');
		src: url('/assets/fonts/NanumMyeongjo.eot') format('embedded-opentype'),
		url('/assets/fonts/NanumMyeongjo.woff') format('woff'),
		url('/assets/fonts/NanumMyeongjo.ttf') format('truetype');
	}

	@font-face {
		font-family: 'NanumPen';
		font-style: normal;
		src: url('/assets/fonts/NanumPen.eot');
		src: url('/assets/fonts/NanumPen.eot') format('embedded-opentype'),
		url('/assets/fonts/NanumPen.woff') format('woff'),
		url('/assets/fonts/NanumPen.ttf') format('truetype');
	}
	@font-face {
		font-family: 'NanumBarunGothicBold';
		font-style: normal;
		src: url('/assets/fonts/NanumBarunGothic.eot');
		src: url('/assets/fonts/NanumBarunGothic.eot') format('embedded-opentype'),
		url('/assets/fonts/NanumBarunGothic.woff') format('woff'),
		url('/assets/fonts/NanumBarunGothic.ttf') format('truetype');
		font-weight: 600;
	}

	* { font-family: 'NanumBarunGothic'; font-weight: normal; }
	
	html, head, body { font-size: 100%; }
	body { margin: 0px; padding: 0px; }
	button, a { cursor: pointer; }
	textarea, button, img { outline: none; border: none; }

	header {
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 36px;
		margin: 0px auto;
	}

	header * {
		vertical-align: middle;
		color: #FFFFFF;
	}

	.header_menu {
		width: 1000px;
		margin: 0px auto;
	}

	.header_menu a {
		color: #666666;
	}

	.header_menu a:hover {
		color: #000000 !important;
	}

	header ul,
	header li {
		margin: 0px;
		padding: 0px;
		height: 36px;
		list-style: none;
		display: inline-block;
		font-size: 0.93rem;
		line-height: 36px;
	}

	.header_left {
		width: 60%;
		text-align: left;
	}

	.header_right {
		width: 39%;
		text-align: right;
	}

	#wrapper {
		width: 100%;
	}

	/* 로그인 */
	.sign_g_table { 
		margin: 0px auto;
		border-collapse: collapse; 
	}
	
	.sign_in_table td { 
		padding: 0px; 
		margin: 0px; 
	}
	
	.id { 
		width: 285px;
		height: 30px;
		padding: 10px 20px;
		font-size: 1.15rem;
		border: 1px solid #B3B3B3; 
		border-radius: 10px;
		margin-bottom: 5px;
	}
	
	.pw { 
		width: 285px;
		height: 30px;
		padding: 10px 20px;
		font-size: 1.15rem;
		border: 1px solid #B3B3B3; 
		border-radius: 10px;
		margin-bottom: 5px;
	}
	
	.sign_b { 
		width: 327px;
		height: 47px;
		font-size: 1.15rem;
		border-radius: 10px;
		margin-bottom: 5px;
		background: #FFD432;
		color: #FFFFFF;
		border: none;
		text-decoration: none;
		cursor: pointer;
		margin-bottom: 5px;
	}
	
	.sign_b_s { 
		width: 327px;
		height: 47px;
		font-size: 1.15rem;
		border-radius: 10px;
		margin-bottom: 5px;
		background: #1C75BA;
		color: #FFFFFF;
		border: none;
		text-decoration: none;
		cursor: pointer;
		margin-bottom: 5px;
	}
	
	.sign_back { 
		width: 327px;
		height: 47px;
		font-size: 1.15rem;
		border-radius: 10px;
		background: #BABCBE;
		color: #FFFFFF;
		border: none;
		text-decoration: none;
		cursor: pointer;
		margin-bottom: 5px;
		margin-top: -15px;
	}

	.layer { display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:100; }
	.layer .bg { position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50); }
	.layer .pop-layer { display:block; }

	.pop-layer, .layer2 { display:none; position: absolute; top: 50%; left: 50%; width: 430px; height: auto; opacity:50; background-color:#FFFFFF; z-index: 10; }
	.pop-conts {
		padding: 50px;
	}

	.id:focus,
	.pw:focus {
		border: 1px solid #FFB347;
		box-shadow: 0 0 5px #FFB347;
		outline: 0;
	}
	
	.sign_in_h1 { font-size:1.5rem;margin:0px;padding:0px;margin-bottom:20px; }

	.sign_up_table_2 .input_title {
		color:#58595B;font-size:1.15rem;
	}

	.sign_up_table_2 .input_title input[type=select] {
		width:150px;font-size:1.15rem;
	}
	
	.layer2s { display:none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}

	.layer2s .bg2 { 
		position: fixed;
		top: 0;
		left: 0;
		width:  100%;
		height: 100%;
		background: #000;
		opacity: 0.5;
		filter:alpha(opacity=50);
	}

	.layer2s .pop-layer { 
		display: block;
	}

	.review_write {
		width: 100%;
		border-collapse: collapse;
		margin: 0px;
		padding: 0px;
	}
    
    .sign_mypage_memo select {
        background: transparent;
        margin: 0px auto;
        width: 95%;
        font-size: 10pt;
        outline: none;
        border: none;
        height: 100%;
        -webkit-appearance: none;
    }

    .sign_mypage_memo {
		width: 45%;
	    display: inline-block;
	    height: 1rem;
	    overflow: hidden;
	    text-align: center;
	    border: 1px solid #BABCBE;
	    padding: 8px 5px;
	    border-radius: 10px;
	    background: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png") no-repeat right;
	    background-size: 40px;
    }

    .mypage_memo select {
        background: transparent;
        margin: 0px auto;
        width: 95%;
        font-size: 12pt;
        outline: none;
        border: none;
        height: 100%;
        -webkit-appearance: none;
    }

    .mypage_memo {
        width: 80%;
        height: 1.7rem;
        overflow: hidden;
        text-align: center;
        border: 1px solid #BABCBE;
        padding: 8px 5px;
        border-radius: 10px;
        background: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png") no-repeat right;
        background-size: 40px;
    }