
	#univ_main_image {
		width: 100%;
		height: 200px;

		text-align: center;
		color: #FFFFFF;

		background-image: url("/assets/img/slide/kookmin_2480_550.jpg");
	    background-size: cover;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	}

	#univ_main_image .univ_about img {
		display: inline-block;
		margin-left: 30px;
		width: 100px;
		margin-right: 15px;
	}

	#univ_main_image .univ_about button {
		font-size: 1rem;
		font-weight: bold;
		color: #58595B;
		width: 215px;
		height: 40px;
		text-align: center;
		background: #FFD432;
		border-radius: 10px;
		line-height: 40px;
		float: right;
		margin-top: 50px;
		margin-right: 30px;
		cursor: pointer;
	}

	#univ_main_image .univ_about h2 {
		display: inline-block;
		font-size: 2rem;
		font-weight: bold;
		margin: 0px;
	}

	#univ_main_image .univ_about span {
		font-size: 2rem;
		font-weight: 300;
	}

	#univ_main_image .univ_about p {
		font-size: 1.5rem;
		margin-top: 5px;
		font-weight: 300;
	}

	.category li:hover {
		color: #58595B;
	}

    .swiper-container {
        /*width: 500px;
        height: 300px;
        margin: 20px auto;*/
        height: auto;
    }

    .swiper-slide {
        text-align: center;
        height: auto;
        /*font-size: 18px;
        background: #fff;*/

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

	.univ_about {
		width: 1000px;
		height: auto;
		text-align: left;
		margin: 0px auto;
		padding-top: 80px;
	}

	#univ_category {
		height: 87px;
		width: 100%;
		margin: 0px auto;
		background: #FFFFFF;
		border-bottom: 3px solid #C9C9C9;
	}

	.category {
		margin: 0px auto;
		padding: 0px;
		list-style: none;
		width: 1000px;
	}

	.category li {
		margin: 0px;
		padding: 0px;
		list-style: none;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		width: 100px;
	}

	.category h3 {
		font-size: 1.38rem;
		font-weight: 600;
		margin: 10px 0px 10px 0px;
	}

	.head_title {
		font-size: 3.4rem;
		font-family: 'NanumMyeongjo';
		font-weight: normal;
		vertical-align: middle;

		margin: 0px;
		padding: 0px;

		padding-top: 74px;
	}

	.head_title span {
		font-size: 6rem;
		font-family: 'NanumPen';
		font-weight: normal;
		vertical-align: middle;
		color: #FFD432;
	}

	#univ_content {
		text-align: center;
		padding: 30px 0px;
		width: 1000px;
		margin:0px auto;
	}

	#univ_content .title {
		font-size: 2.5rem;
		margin: 0px;
	}

	#univ_content .subtitle {
		font-size: 1.22rem;
		margin: 0px;
	}

	.find_campus select {
		margin-top: 10px;
		width: 175px;
		height: 40px;
		border-radius: 15px;
		border: 2px solid #BCBEC0;
		font-size: 1rem;
		color: #58595B;
		margin-right: 10px;
		
	}

	.find_campus h1 {
		display: inline-block;
		margin-left: 30px;
		font-size: 1.1rem;
		vertical-align: middle;
		
	}

	.univ_name {
		font-size: 1.5rem;
		color: #58595B;
		font-weight: bold;
		margin-top: 16px;
		margin-bottom: 20px;
		
	}

	.univ_rank {
		font-size: 1.5rem;
		color: #1C75BA;
		margin-top: 0px;
		margin-bottom: 10px;
		
	}

	.univ_star {
		width: 21px;
		height: 21px;
			
	}

	.univ_point {
		font-size: 1.3125rem;
		color: #58595B;
		margin-left: 10px;
		
	}

	.univ_message {
		font-size: 1.1rem;
		font-weight: 400;
		color: #58595B;
		margin-top: 20px;
		
	}

	.univ_table_title {
		text-align: left;
		padding-left: 30px;
		padding-top: 15px;
		width: 25%;
		font-size: 0.95rem;
		color: #808083;
		
	}

	.univ_table_content {
		text-align: left;
		vertical-align: middle;
		padding-top: 15px;
		
	}

	.univ_table_content img {
		width: 16px;
		height: 16px;
		
	}

	.univ_table_content span {
		font-size: 0.95rem;
		color: #58595B;
		margin-left: 16px;
		
	}


	.univ_left {
		width: 675px;
		margin: 0px auto;
		margin-top: 20px;
		float: left;
	}

	.find_campus {
		width: 100%;
		margin: 0px auto;
		text-align: left;
		height: 100%;
		margin: -10px 0px 20px 10px;
	}

	.univ_comment {
		margin: 0px auto;
		width: 100%;
		height: 175px;
		border-collapse: collapse;
		border: 1px solid #BCBEC0;
		margin-bottom: 10px;
		word-break: break-all;
	}

	.comment_profile_img {
		vertical-align: middle;
		margin: 10px 15px 10px 18px;
	}

	.comment_profile_h3 {
		font-size: 1.3125rem;
		margin: 0px;
		color: #58595B;
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		margin-top: 5px;
	}

	.comment_profile_h3 span {
		font-size: 1rem;
		margin-left: 15px;
	}

	.comment_title {
		text-align: left;
		padding-left: 30px;
		padding-top: 15px;
		width: 25%;
		font-size: 0.95rem;
		color: #808083;
	}

	.comment_point {
		text-align: left;
		vertical-align: middle;
		padding-top: 15px;
	}

	.comment_point img {
		width: 16px;
		height: 16px;
	}

	.comment_point span {
		font-size: 0.95rem;
		color: #58595B;
		margin-left: 16px;
	}

	.comment_message {
		font-size: 1rem;
		height: 40px;
		color: #1C75BA;
		background: rgba(255, 212, 50, 0.3);
		font-family: NanumMyeongjo;
	}

	.comment_pros {
		text-align: left;
	}

	.comment_pros h2 {
		margin: 0px auto;
		width: 90%;
		color: #009244;
		margin-top: 35px;
		margin-bottom: 10px;
	}

	.comment_pros p {
		margin: 0px auto;
		width: 90%;
		text-align: left;
		font-size: 0.9rem;
		line-height: 1.4rem;
		color: #808083;
	}

	.comment_cons {
		text-align: left;
	}

	.comment_cons h2 {
		margin: 0px auto;
		width: 90%;
		color: #FF6666;
		margin-top: 25px;
		margin-bottom: 10px;
	}

	.comment_cons p {
		margin: 0px auto;
		width: 90%;
		text-align: left;
		font-size: 0.9rem;
		line-height: 1.4rem;
		color: #808083;
	}

	.comment_need {
		text-align: left;
	}

	.comment_need h2 {
		margin: 0px auto;
		width: 90%;
		color: #58595B;
		margin-top: 35px;
		margin-bottom: 10px;
	}

	.comment_need p {
		margin: 0px auto;
		width: 90%;
		text-align: left;
		font-size: 0.9rem;
		line-height: 1.4rem;
		color: #808083;
	}

	.comment_future {
		text-align: left;
	}

	.comment_future h2 {
		margin: 0px auto;
		width: 90%;
		color: #58595B;
		margin-top: 35px;
		margin-bottom: 10px;
	}

	.comment_future p {
		margin: 0px auto;
		width: 90%;
		text-align: left;
		font-size: 0.9rem;
		line-height: 1.4rem;
		color: #808083;
		margin-bottom: 35px;	
	}

	/**/
	.M_univ_comment {
		margin: 0px auto;
		width: 100%;
		height: 175px;
		border-collapse: collapse;
		border: 1px solid #BCBEC0;
		margin-bottom: 10px;
		word-break: break-all;
	}

	.M_comment_profile_img {
		vertical-align: middle;
		margin: 10px 15px 10px 18px;
	}

	.M_comment_profile_h3 {
		font-size: 1.3125rem;
		margin: 0px;
		color: #58595B;
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		margin-top: 5px;
	}

	.M_comment_profile_h3 span {
		font-size: 1rem;
		margin-left: 15px;
	}

	.M_comment_title {
		text-align: left;
		padding-left: 30px;
		padding-top: 15px;
		width: 25%;
		font-size: 0.95rem;
		color: #808083;
	}

	.M_comment_point {
		text-align: left;
		vertical-align: middle;
		padding-top: 15px;
	}

	.M_comment_point img {
		width: 16px;
		height: 16px;
	}

	.M_comment_point span {
		font-size: 0.95rem;
		color: #58595B;
		margin-left: 16px;
	}

	.M_comment_message {
		font-size: 1rem;
		height: 40px;
		color: #1C75BA;
		background: rgba(255, 212, 50, 0.3);
		font-family: NanumMyeongjo;
	}

	.M_comment_pros {
		text-align: left;
	}

	.M_comment_pros h2 {
		margin: 0px auto;
		width: 90%;
		color: #009244;
		margin-top: 35px;
		margin-bottom: 10px;
	}

	.M_comment_pros p {
		margin: 0px auto;
		width: 90%;
		text-align: left;
		font-size: 0.9rem;
		line-height: 1.4rem;
		color: #808083;
	}

	.M_comment_cons {
		text-align: left;
	}

	.M_comment_cons h2 {
		margin: 0px auto;
		width: 90%;
		color: #FF6666;
		margin-top: 25px;
		margin-bottom: 10px;
	}

	.M_comment_cons p {
		margin: 0px auto;
		width: 90%;
		text-align: left;
		font-size: 0.9rem;
		line-height: 1.4rem;
		color: #808083;
	}

	.M_comment_need {
		text-align: left;
	}

	.M_comment_need h2 {
		margin: 0px auto;
		width: 90%;
		color: #58595B;
		margin-top: 35px;
		margin-bottom: 10px;
	}

	.M_comment_need p {
		margin: 0px auto;
		width: 90%;
		text-align: left;
		font-size: 0.9rem;
		line-height: 1.4rem;
		color: #808083;
	}

	.M_comment_future {
		text-align: left;
	}

	.M_comment_future h2 {
		margin: 0px auto;
		width: 90%;
		color: #58595B;
		margin-top: 35px;
		margin-bottom: 10px;
	}

	.M_comment_future p {
		margin: 0px auto;
		width: 90%;
		text-align: left;
		font-size: 0.9rem;
		line-height: 1.4rem;
		color: #808083;
		margin-bottom: 35px;	
	}
	/**/

	.univ_table {
		margin: 0px auto;
		width: 100%;
		height: 175px;
		border-collapse: collapse;
		border: 1px solid #BCBEC0;
		margin-bottom: 10px;
	}

	.univ_table_about img {
		width: 21px;
		height: 21px;
	}

	.univ_table_about p {
		font-size: 1.1rem;
		font-weight: 400;
		color: #58595B;
		margin-top: 20px;
	}

	.univ_table_about span {
		font-size: 1.3125rem;
		color: #58595B;
		margin-left: 10px;
	}

	.univ_name {
		font-size: 1.5rem;
		color: #58595B;
		font-weight: bold;
		margin-top: 16px;
		margin-bottom: 20px;
	}

	.univ_star_ {
		font-size: 1.5rem;
		color: #1C75BA;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.univ_table_title {
		text-align: left;
		padding-left: 30px;
		padding-top: 15px;
		width: 25%;
		font-size: 0.95rem;
		color: #808083;
	}

	.univ_table_star {
		text-align: left;
		vertical-align: middle;
		padding-top: 15px;
	}

	.univ_table_star img {
		width: 16px;
		height: 16px;
	}

	.univ_table_star span {
		font-size: 0.95rem;
		color: #58595B;
		margin-left: 16px;
	}

	.univ_type_title {
		padding-left: 25px;
		padding-top: 25px;
		width: 17%;
		text-align: left;
		font-size: 1rem;
		color: #58595B;
		font-weight: bold;
	}

	.univ_pic {
		margin: 0px auto;
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #BCBEC0;
		margin-bottom: 10px;
	}

	.univ {
		margin: 0px auto;
		display: inline-block;
		width: 100%;
		padding: 0px 0px 0px 0px;
		border: 1px solid #BCBEC0;
		margin-bottom: 10px;
	}

	.univ_evaluation img {
		position: absolute;
		margin-top: -11px;
		margin-left: 25px;
		width: 48px;
		height: 48px;
	}

	.univ h1 {
		margin: 0px;
		padding: 15px 0px 15px 20px;
		font-size: 1.5rem;
		margin-bottom: 15px;
		color: #58595B;
		border-bottom: 1px solid #C9C9C9;
		width: 97%;
		text-align: left;
	}

	.univ_p {
		vertical-align: top;
		margin: 40px 10px 10px 0px;
		padding: 0px;
		font-size: 1.05rem;
		position: relative;
		right: 0%;
		text-align: right;
		color:  #808083;
	}

	.univ_p img {
		vertical-align: top;
		margin-top: 0.5px;
	}

	.edit_td {
		text-align: left;
		padding-left: 20px;
		padding-right: 15px;
	}

	.edit_comment_h2 {
		font-size: 1.3125rem;
		color: #58595B;
		margin-top: 5px;
	}

	.edit_comment_p {
		font-size: 0.9rem;
		color: #808083;
		font-weight: 300;
	}

	.univ_type_content {
		text-align: left;
		font-size: 0.9rem;
		padding-top: 25px;
		color: #808083;
		font-weight: 300;
	}

	.univ_content_td {
		text-align: left;
		padding-left: 20px;
		padding-right: 15px;
		border-top: 1px solid #BCBEC0;
	}

	.univ_content_content {
		font-size: 0.9rem;
		color: #808083;
		font-weight: 300;
		line-height: 1.25rem;
	}

	.univ_pic_in {
		text-align: left;
		padding: 15px 0px 0px 20px;
		font-size: 1.5rem;
		color: #58595B;
	}

	.univ_pic_more {
		text-align: right;
		padding: 20px 15px 0px 0px;
		font-size: 0.9rem;
		color: #58595B;
	}

	.about_img { 
		width: 96px;
		height: 96px;
		vertical-align: top;
		display: inline-block;
	}

	.univ_about_ { 
		display: inline-block;
		width: 80%;
		text-align: left;
		padding: 8px 0px 0px 18px;
	}

	.univ_about_ h3 { 
		font-size: 1.5rem;
		margin: 0px;
		margin-bottom: 5px;
		color: #58595B
	}

	.univ_about_ p { 
		margin: 0px;
		font-size: 1.05rem;
		color: #808083;
	}

	.univ_evaluation { 
		background: rgba(255, 211, 66, 0.3);
		text-align: left;
		color: #3366CC;
		padding: 5px 0px 5px 15px;
		margin: 15px 0px 30px 0px;
		vertical-align: middle;
	}

	.univ_evaluation .h6_title {
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		font-size: 0.9rem;
		margin-left: 8px;
		vertical-align: middle;
		color: #808083;
	}

	.univ_evaluation .h6_content { 
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		color: #3366CC;
		font-size: 1.3rem;
		vertical-align: middle;
	}

	.review_more_left {
		vertical-align: top;
		margin: 40px 10px 10px 0px;
		padding: 0px;
		font-size: 1.05rem;
		position: relative;
		right: 0%;
		text-align: right;
		color: #808083;
	}

	.review_more_left img {
		vertical-align: top;
		margin-top: 0.5px;
	}

	.pros {
		width: 85%;
		margin: 0px auto;
	}

	.pros h3 {
		display: inline-block;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		margin-right: 28px;
		padding: 0px;
		font-size: 1rem;
		color: #00B74A;
		font-weight: bold;
	}

	.pros h4 { 
		display: inline-block;
		width: 80%;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		padding: 0px;
		font-size: 0.9rem;
		color: #58595B;
		line-height: 1.2rem;
	}

	.cons { 
		width: 85%; 
		margin: 0px auto;
		margin-top: 20px;
	}

	.cons h3 { 
		display: inline-block;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		margin-right: 28px;
		padding: 0px;
		font-size: 1rem;
		color: #FF6666;
		font-weight: bold;
	}

	.cons h4 { 
		display: inline-block;
		width: 80%;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		padding: 0px;
		font-size: 0.9rem;
		color: #58595B;
		line-height: 1.2rem;
	}

	.campus_category {
		width: 100%;
		border-collapse: collapse;
		margin: 0px;
		padding: 0px;
		margin-bottom: 20px;
		border: 1px solid #BCBEC0;
		text-align: left;
	}
	
	.campus_category td {
		margin: 0px;
		padding: 0px;
		vertical-align: middle;
		padding: 18px 0px 0px 18px;
		border-right: 1px solid #BCBEC0;
		color: #808083;
		font-size:1.125rem;
	}

	.review_list {
		width: 100%;
		border-collapse: collapse;
		margin: 0px;
		padding: 0px;
		margin-bottom: 10px;
		border: 1px solid #BCBEC0;
	}

	.review_list * {
		vertical-align: middle;
	}

	.review_list td {
		margin: 0px;
		padding: 0px;
		vertical-align: middle;
	}

	.review_list p {
		margin: 0px;
		padding: 0px;
		vertical-align: middle;
		display: inline-block;
		font-size: 1.1rem;
	}
	
	.review_list .review_list_title {
		font-size: 1.375rem;
		font-weight: normal;
		text-align: left;
		padding: 15px 0px 14px 15px;
		color: #58595B;
	}

	.review_list .review_more_b {
		font-size: 0.8rem;
		text-align: right;
		padding: 18px 5px 14px 0px;
		color: #1C75BA;
	}

	.review_list .of_rank {
		width: 10%;
		padding: 0px 10px;
		color: #58595B;
	}
	
	.review_list .of_college {
		width: 75%;
		padding: 6px 0px 6px 0px;
		text-align: left;
	}
	
	.review_list .of_college p {
		color: #58595B;
	}
	
	.review_list .of_college span {
		font-size: 0.9rem;
		color: #808083;
	}

	.review_list .of_college img {
		display:  inline-block;
		margin:  0px 5px 0px 0px;
	}
	
	.review_list .of_diff {
		width: 15%;
		padding: 0px;
		font-size: 1rem;
		color: #58595B;
	}

	.review_list .of_diff img {
		vertical-align: middle;
	}
	
	.layer2s { 
		display:none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}

	.layer2s .bg2 { 
		position: fixed;
		top: 0;
		left: 0;
		width:  100%;
		height: 100%;
		background: #000;
		opacity: 0.5;
		filter:alpha(opacity=50);
	}

	.layer2s .pop-layer { 
		display: block;
	}

	.review_write {
		width: 100%;
		border-collapse: collapse;
		margin: 0px;
		padding: 0px;
	}
    
    .mypage_memo select {
        background: transparent;
        margin: 0px auto;
        width: 95%;
        font-size: 12pt;
        outline: none;
        border: none;
        height: 100%;
        -webkit-appearance: none;
    }

    .mypage_memo {
        width: 80%;
        height: 1.7rem;
        overflow: hidden;
        text-align: center;
        border: 1px solid #BABCBE;
        padding: 8px 5px;
        border-radius: 10px;
        background: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png") #FFF no-repeat right;
        background-size: 40px;
    }

    /* 맛보기 대학리뷰 */
	.univ .about_img { 
		width: 96px;
		height: 96px;
		vertical-align: top;
		display: inline-block;
	}

	.univ .review_about_ { 
		display: inline-block;
		width: 80%;
		text-align: left;
		padding: 8px 0px 0px 18px;
	}

	.univ .review_about_ h3 { 
		font-size: 1.5rem;
		margin: 0px;
		margin-bottom: 5px;
		color: #58595B
	}

	.univ .review_about_ p { 
		margin: 0px;
		font-size: 1.05rem;
		color: #808083;
	}

	.univ .review_evaluation { 
		background: rgba(255, 211, 66, 0.3);
		text-align: left;
		color: #3366CC;
		padding: 5px 0px 5px 15px;
		margin: 15px 0px 30px 0px;
		vertical-align: middle;
	}

	.univ .review_evaluation .h6_title {
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		font-size: 0.9rem;
		margin-left: 8px;
		vertical-align: middle;
		color: #808083;
	}

	.univ .review_evaluation .h6_content { 
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		color: #3366CC;
		font-size: 1.3rem;
		vertical-align: middle;
	}

	.univ .pros {
		width: 85%;
		margin: 0px auto;
	}

	.univ .pros h3 {
		display: inline-block;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		margin-right: 28px;
		padding: 0px;
		font-size: 1rem;
		color: #00B74A;
		font-weight: bold;
	}

	.univ .pros h4 { 
		display: inline-block;
		width: 84%;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		padding: 0px;
		font-size: 0.9rem;
		color: #58595B;
		line-height: 1.2rem;
	}

	.univ .cons { 
		width: 85%; 
		margin: 0px auto;
		margin-top: 20px;
	}

	.univ .cons h3 { 
		display: inline-block;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		margin-right: 28px;
		padding: 0px;
		font-size: 1rem;
		color: #FF6666;
		font-weight: bold;

	}

	.univ .cons h4 { 
		display: inline-block;
		width: 84%;
		text-align: left;
		vertical-align: top;
		margin: 0px;
		padding: 0px;
		font-size: 0.9rem;
		color: #58595B;
		line-height: 1.2rem;
	}

	.univ .review_more {
		width: 80%;
		height: 50px;
		background: #CCCCCC;
		border: 1px solid #3366CC;
		color: #3366CC;
		margin: 0px auto;
		line-height: 50px;
	}
	/* 맛보기 대학리뷰 */

	.mypage_memo {
		display:inline-block;width:170px;height:25px;border-radius:5px;border:1px solid #808083;
	}

	.profileUniv,
	.M_profileUniv {
		font-size: 1.3125rem;margin: 0px;color: #58595B;text-align: left;
	}

	.recommandReview,
	.M_recommandReview {
		width:160px;height:35px;background:#FFA321;border:none;border-radius:5px;margin:20px auto;font-size:10pt;color:#FFFFFF;margin-right:15px;
	}

	.shareOnFb,
	.M_shareOnFb {
		width:160px;height:35px;background:#3765A3;border:none;border-radius:5px;margin:20px auto;font-size:10pt;color:#FFFFFF;margin-left:15px;
	}

	.univ_table_about,
	.M_univ_table_about {
		width:45%; text-align:center;
	}

	.averageMessage,
	.M_averageMessage {
		font-size:1.12rem;color:#58595B;margin-left:10px;
	}

	.univ_h1 {
		font-size:1.12rem;color:#58595B;margin-top:20px;margin-bottom:10px;
	}

	.bestreview {
		width:72px;height:87px;position:absolute;margin-top: -4px;margin-left: 508px;
	}

	.univ_table_about p,
	.M_univ_table_about p {
		font-size:1.12rem;font-weight:400;color:#58595B;margin-top:40px;
	}

	@media (max-width: 1000px) {

		/* Basic Setting in Univ Page */
		#header,
		.univ_right,
		#univ_main_image .univ_about button {
			display: none;
		}

		.univ {
			display: none;
		}

		#univ_main_image {
			width: 100%;
		}

		#univ_category {
			width: 100%;
			height: 82px;
		}

		#univ_category .category {
			width: 100%;
			text-align: center;
		}

		.category li {
			width: 40%;
			margin:0px auto !important;
			text-align: center;
		}

		#univ_content {
			width: 95%;
			padding: 8px 0px;
		}

		.univ_about {
			width: 100%;
		}

		.univ_left {
			width: 100%;
		}

		.collegeWeb {
			display: none;
		}

		.univ_table_star {
			text-align: center;
		}

		.univ_table_star img {
			width: 12px;
			height: 12px;
			margin-right: 3px;
		}

		#facilities,
		#culture,
		#town,
		#tuition,
		#professor {
			/*font-size: 0.8rem;
			text-align: center;
			margin: 0px auto;
			display: block;*/
			display: none;
		}

		.univ_table_title {
			padding-left: 0px;
			padding-top: 15px;
			width: 31%;
			font-size: 0.8rem;			
		}

		.univ_table_about img {
			width: 15px;
			height: 15px;
		}

		#averageGradePoint {
			display: block;
			font-size: 1rem;
			margin: 0px auto;
			margin-top: 10px;
		}

		.comment_profile_img {
			display: none;
		}

		.comment_profile_h3 .profileUniv,
		.M_comment_profile_h3 .profileUniv,
		.comment_profile_h3 .M_profileUniv,
		.M_comment_profile_h3 .M_profileUniv {
			font-size: 1rem;
			display: block;
			width: 100%;
		}

		.comment_profile_h3 .profileDate,
		.M_comment_profile_h3 .profileDate,
		.comment_profile_h3 .M_profileDate,
		.M_comment_profile_h3 .M_profileDate {
			font-size: 0.8rem;
			margin-top: 5px;
			display: block;
		}

		.comment_profile_h3 .M_averageMessage,
		.M_comment_profile_h3 .M_averageMessage {
			font-size: 0.75rem;
			display: block;
			margin-top: 5px;
		}

		.comment_title,
		.M_comment_title {
			padding-top: 17px;
			padding-left: 10px;
			width: auto;
			font-size: 0.7rem;
			vertical-align: middle;
		}

		.comment_point img,
		.M_comment_point img {
			width: 12px;
			height: 12px;
			vertical-align: middle;
		}

		.comment_point {

		}

		.M_comment_profile_img {
			display: none;
		}

		.pointfacilities,
		.M_pointfacilities,
		.pointculture,
		.M_pointculture,
		.pointtown,
		.M_pointtown,
		.pointtuition,
		.M_pointtuition,
		.pointprofessor,
		.M_pointprofessor {
			display: none;
		}

		.comment_point span
		.M_comment_point span {
			padding: 0px;
			margin: 0px auto;
			vertical-align: middle;
		}
		
		.comment_pros h2,
		.M_comment_pros h2,
		.comment_cons h2,
		.M_comment_cons h2,
		.comment_need h2,
		.M_comment_need h2,
		.comment_future h2,
		.M_comment_future h2 {
			font-size: 1.2rem;
		}

		.comment_pros p,
		.M_comment_pros p,
		.comment_cons p,
		.M_comment_cons p,
		.comment_need p,
		.M_comment_need p,
		.comment_future p,
		.M_comment_future p {
			font-size: 0.8rem;
		}

		.recommandReview,
		.M_recommandReview {
			width:160px;height:35px;background:#FFA321;border:none;border-radius:5px;margin:5px auto;font-size:10pt;color:#FFFFFF;
		}

		.shareOnFb,
		.M_shareOnFb {
			width:160px;height:35px;background:#3765A3;border:none;border-radius:5px;margin:5px auto;font-size:10pt;color:#FFFFFF;margin-bottom: 20px;
		}

		.univ_table_about,
		.M_univ_table_about {
			width: 43% !important;
			text-align:center;
			font-size: 0.8rem;
		}

		.univ_table_about span,
		.M_univ_table_about span {
			font-size: 1rem;
			margin:0px auto;
			margin-top: 10px;
		}

		.univ_table_about h1,
		.M_univ_table_about h1 {
			font-size: 0.9rem;color:#58595B;margin-top:20px;margin-bottom:10px;
		}

		.averageMessage,
		.M_averageMessage {
			display: block;
			font-size:0.85rem;
			color:#58595B;
			margin-top: 5px;
		}

		.M_gradeaverageGrade img {
			width: 16px;
			height: 16px;
		}

		.univ_table_about p,
		.M_univ_table_about p {
			display: none;
		}

		.bestreview {
			width: 52px;
			height: 67px;
			margin-top: -4%;
			margin-left: 74%;
		}

		#univ_main_image .univ_about span {
			font-size: 1.3rem;
			position: absolute;
			left: 44%;
		}

		#footer ul {
			display: none;
		}

		#footer .footer_content {
			font-size: 0.8rem;
			margin: 0px 10px;
		}

		.pop-layer, .layer2 {
			width: 90%;
		}

		.div#popup_soon {
		    margin-top: -45%;
		    margin-left: -45%;
		}
		/* Basic Setting in Univ Page */

		/* Univ info Page */
		.univ_type_title {
			padding-left: 10px;
			padding-top: 15px;
			text-align: left;
			font-size: 0.7rem;
			color: #000;
			font-weight: bold;
			vertical-align: top;
		}

		.univ_type_content {
			font-size: 0.725rem;
			padding-top: 15px;
			color: #808080;
			vertical-align: top;
		}

		.univ_content_content {
			font-size: 0.8rem;
		}
		/* Univ info Page */

		/* Univ review Page */
		.find_campus {
			margin: 0px;
			text-align: center;
		}

		.mypage_memo {
			width: 40%;
			background-size: 25px;
		}

		.mypage_memo select {
			font-size: 0.85rem;
		}

		.find_campus h1 {
			margin: 10px 0px 15px 0px;
			text-align: left;
			padding: 0px;
			font-size: 0.95rem;
		}
		/* Univ review Page */

	}